:root {
    --troveed-body-text-color: #414042;
    --troveed-body-bg-color: "";
    --troveed-btn-primary-color: #F26432;
    --troveed-btn-primary-bg: "";
    --troveed-btn-primary-bg-hover: "";
    --troveed-btn-secondary-color: #EF3E46;
    --troveed-btn-secondary-bg: "";
}